* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #555;

  overflow: hidden;
}

/***********************/
/* GENERAL REUSABLE COMPONENTS */
/***********************/

.container {
  max-width: 120rem;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 3.2rem;
}

.temp-font {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1.05px;
}

.weather-data-font-inter {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.weather-data-font-nunito {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/***********************/
/* HELPER CLASSES */
/***********************/

.margin-right-text {
  margin-right: 0.5rem;
}

.margin-right-xsm {
  margin-right: 1.2rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-right: 2.4rem !important;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-bottom-xxsm {
  margin-bottom: 0.4rem !important;
}

.margin-bottom-xsm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-bottom-xlg {
  margin-bottom: 8rem !important;
}

.padding-lg {
  padding: 4.8rem !important;
}

.text-transform--capitalize {
  text-transform: capitalize !important;
}

strong {
  font-weight: 600 !important;
}

.filter--brightness-default {
  filter: brightness(1) !important;
}

.align-center-text {
  text-align: center !important;
}

.grid--center-v {
  align-items: center;
}

.grid--center-h {
  justify-content: center;
}

.disp-flex {
  display: flex;
}

.disp-flex--align-center {
  align-items: center;
}

.disp-flex--justify-center {
  justify-content: center;
}

.disp-flex--gap-sm {
  gap: 1.2rem;
}

.disp-flex--gap-md {
  gap: 2.4rem;
}

.small-letter {
  text-transform: lowercase;
}

.remove-text-transform {
  text-transform: none;
}
