.error-img-city-not-found {
  background-image: url("../img/error-img/error-city-not-found.svg") !important;
}

.error-img-invalid-input {
  background-image: url("../img/error-img/error-bad-request.svg") !important;
}

.error-img-unauthorized {
  background-image: url("../img/error-img/error-unauthorized.svg") !important;
}

.error-img-unexpected-error {
  background-image: url("../img/error-img/error-internal.svg") !important;
}

.error-img-unknown-error {
  background-image: url("../img/error-img/error-unknown.svg") !important;
}

.error-img-limit {
  background-image: url("../img/error-img/error-limit.svg") !important;
}
