<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ramyr Garceniego &ndash; Weather App</title>

    <!-- FONTS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <!-- STATIC -->
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/error.css" />
    <link rel="stylesheet" href="../static/css/queries.css" />
    <!-- THYMELEAF -->
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/error.css}" />
    <link rel="stylesheet" th:href="@{/css/th-error.css}" />
    <link rel="stylesheet" th:href="@{/css/queries.css}" />

    <!-- JAVASCRIPT -->
    <script defer th:src="@{/js/error-redirect.js}"></script>
  </head>
  <body>
    <main class="container">
      <div class="error-container">
        <div
          class="error-img error-temp-img"
          th:class="'error-img error-img-' + ${errorImageClass}"
          role="img"
          aria-label="Error image display"
        ></div>
        <p class="error-text" th:text="${errorTitle}">
          Oops! Something went wrong...
        </p>
        <p class="error-text margin-bottom-sm" th:text="${errorMessage}">
          We can't find the city!
        </p>
        <a
          class="error-home-btn"
          href="/"
          aria-label="Home button to Weather App"
          title="Go to Weather App"
          >Go back to Weather App</a
        >
      </div>
    </main>
  </body>
</html>
