<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ramyr Garceniego &ndash; Weather App</title>

    <!-- CSS -->
    <!-- STATIC -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/general.css" />
    <!-- THYMELEAF -->
    <link rel="stylesheet" th:href="@{/css/th-style.css}" />
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- JAVASCRIPT -->
    <script defer th:src="@{/js/location.js}"></script>
  </head>
  <body>
    <p>Fetching your location, please wait...</p>
  </body>
</html>
