<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ramyr Garceniego &ndash; Weather App</title>

    <!-- FONTS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <!-- STATIC -->
    <link rel="stylesheet" href="../static/css/splash.css" />
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/queries.css" />
    <!-- THYMELEAF -->
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/splash.css}" />
    <link rel="stylesheet" th:href="@{/css/queries.css}" />

    <!-- JAVASCRIPT -->
    <script defer th:src="@{/js/location.js}"></script>
  </head>
  <body>
    <div class="container">
      <div class="splash-container">
        <div class="loader-container">
          <div class="locator-img">
            <iframe
              src="https://giphy.com/embed/TON1o1UFKu75yLOPY2"
              width="100%"
              height="100%"
              frameborder="0"
              class="giphy-embed"
              allowfullscreen
              aria-label="locator gif by Mitsubishi Motors Canada via GIPHY"
            ></iframe>
          </div>
        </div>
        <div class="text-wrapper">
          <span style="--i: 1">F</span>
          <span style="--i: 2">E</span>
          <span style="--i: 3">T</span>
          <span style="--i: 4">C</span>
          <span style="--i: 5">H</span>
          <span style="--i: 6">I</span>
          <span style="--i: 7">N</span>
          <span style="--i: 8">G</span>
          &MediumSpace;
          <span style="--i: 9">C</span>
          <span style="--i: 10">O</span>
          <span style="--i: 11">O</span>
          <span style="--i: 12">R</span>
          <span style="--i: 13">D</span>
          <span style="--i: 14">I</span>
          <span style="--i: 15">N</span>
          <span style="--i: 16">A</span>
          <span style="--i: 17">T</span>
          <span style="--i: 18">E</span>
          <span style="--i: 19">S</span>
          &MediumSpace;
          <span style="--i: 20">.</span>
          <span style="--i: 21">.</span>
          <span style="--i: 22">.</span>
        </div>
      </div>
    </div>
  </body>
</html>
